{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Сайт объявлений{% endblock %}</title>
  <meta charset="utf-8">
  <link href="{% static "css/classifieds/base.css" %}" rel="stylesheet">
</head>
<body>

	<div id="header">
	  <span class="logo"><a href="{% url "classifieds:note_list" %}">Oбъявления</a></span>
	  {% if request.user.is_authenticated %}
		<ul class="menu">
		  <li {% if section == "dashboard" %}class="selected"{% endif %}>
		    <a href="{% url "dashboard" %}">Моя страница</a>
		  </li>
		</ul>
	  {% endif %}
      
      <span class="logo"><a href="{% url "classifieds:note_search" %}">Поиск</a></span>

	  <span class="user">
		{% if request.user.is_authenticated %}
		  Здравствуйте {{ request.user.first_name }}, <a href="{% url "logout" %}">Выйти</a>
		{% else %}
		  <a href="{% url "login" %}">Войти</a>
		{% endif %}
	  </span>
	</div>

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">
            {{ message|safe }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="bar-right">
    <div>Реклама</div>
    <div>Реклама</div>
    <div>Реклама</div>
    <div>Реклама</div>
    <div>Реклама</div>
  </div>
  <div id="footer">
    <span class="data">Copyright &copy;
             <script type="text/JavaScript">
                 document.write(new Date().getFullYear());                    
             </script>
    </span>   
    <span class="data"><a href="{% url "classifieds:about_us" %}">О нас</a></span>
    <span class="data"><a href="{% url "classifieds:contacts" %}">Конткты</a></span>
  </div>

    {% block js %}
    {% endblock %}

</body>
</html>

