{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if request.user and not note %}
        Создать новое объявление
    {% elif request.user == note.user %}
        Редактировать объявление
    {% elif request.user != note.user %}
        Вы пытаетесь редактировать чужое объявление
    {% endif %}
{% endblock %}

{% block content %}
  <div class="note-detail">
  {% if request.user.is_authenticated %}
    {% if request.user and not note %}
      <h2 id="form_title">Создать новое объявление</h2>
    {% elif request.user == note.user %}
      <h2 id="form_title">Редактировать объявление</h2>
    {% elif request.user != note.user %}
      <h2 id="form_title">Вы пытаетесь редактировать чужое объявление</h2>
    {% endif %}  

    {% if request.user == note.user or request.user and not note %}
     <form id="id_form" action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <th>Выберите рубрику:&nbsp;&nbsp;</th>
                <td>
                    <select name="selectRubric" id="selectRubric">
                        <option selected value="?">Выберите рубрику</option>
                        {% for rubric in rubrics %}
                            <option value="{{ rubric.id }}">{{ rubric.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Выберите категорию:&nbsp;&nbsp;</th>
                <td>
                    <select name="selectCategory" id="selectCategory"></select>
                </td>
            </tr>
            <tr>
                <th>Выберите подкатегорию:&nbsp;&nbsp;</th>
                <td>
                    <select name="selectSubcategory" id="selectSubcategory"></select>
                </td>
            </tr>
            {{ form_note }}
            <tr><th>Ниже Вы можете добавить до 5-ти изображений:</th></tr>
        </table>
        <table id="formset">
            {{ formset.management_form }}
            {% for form in formset %}
                {{ form }}
            {% endfor %}  
        </table>
        <p><input type="submit" value="Сохранить"></p>
    </form>
    {% endif %}
  {% endif %}
  </div>

<script>

var categorys = {{ categorys_js|safe }};
var subcategorys = {{ subcategorys_js|safe }};
var rubric = {{ rubric_js }};
var category = {{ category_js }};
var subcategory = {{ subcategory_js }};



/* Создаем связанные поля select для rubric и category */
var makeRelationCategorys = (function() {
    function change(slave, data){
      var x, dataArray, option;
      slave.innerHTML = "";
      if (!(this.value in data)){
        return false;
      }
    
        option = document.createElement("option");
        option.value = "?";
        option.innerHTML = "Выберите категорию";
        slave.appendChild(option);

      dataArray = data[this.value];
      for (var key in dataArray) {
        option = document.createElement("option");
        option.value = key;
        option.innerHTML = dataArray[key];
        slave.appendChild(option);
      }}
    return function (master, slave, data) {
      master.onchange = function () {
        change.call(this, slave, data);}
      master.onchange();}
})();

makeRelationCategorys(
    document.getElementById("selectRubric"), 
    document.getElementById("selectCategory"), 
    categorys
);



/* Создаем связанные поля select для category и subcategory */
var makeRelationSubcategorys = (function () {
    function change(slave, data){
      var x, dataArray, option;
      slave.innerHTML = "";
      if (!(this.value in data)){
        return false;
      }

      dataArray = data[this.value];
      for (var key in dataArray) {
        option = document.createElement("option");
        option.value = key;
        option.innerHTML = dataArray[key];
        slave.appendChild(option);
      }}
    return function (master, slave, data) {
      master.onchange = function () {
        change.call(this, slave, data);}
      master.onchange();}
})();

makeRelationSubcategorys(
    document.getElementById("selectCategory"), 
    document.getElementById("selectSubcategory"), 
    subcategorys
);


/* В зависимости от принадлежности редактируемой записи к той или иной 
rubric, category и subcategory соответственно инициируем поля select 
атрибутом selected
*/
function formSelected (rubric, category, subcategory) {
    selectRubric = document.getElementById("selectRubric");
    selectCategory = document.getElementById("selectCategory");
    selectSubcategory = document.getElementById("selectSubcategory");
    optionSelectRubric = selectRubric.querySelectorAll("option");
    for ( var i = 0; i < optionSelectRubric.length; i++) {
        if (optionSelectRubric[i].value == rubric) {
            optionSelectRubric[i].setAttribute("selected", "true");
            for ( key in categorys[rubric] ) {                
                var optionCategory = document.createElement('option');
                optionCategory.value = key;
                optionCategory.appendChild( document.createTextNode(categorys[rubric][key]) );
                if ( key == category) {                    
                    optionCategory.setAttribute("selected", "true");    
                }
                selectCategory.appendChild(optionCategory);                        
            };
            for ( key in subcategorys[category] ) {                
                var optionSubcategory = document.createElement('option');
                optionSubcategory.value = key;
                optionSubcategory.appendChild( document.createTextNode(subcategorys[category][key]) );
                if ( key == subcategory) {                    
                    optionSubcategory.setAttribute("selected", "true");    
                }
                selectSubcategory.appendChild(optionSubcategory);                        
            };
        };
    };
};

formSelected (rubric, category, subcategory);


/* Если изображение не загружено, то скрываем соответствующие поля формы:
"Сделать основным изображением" и "Удалить"
*/
function formsetDeleteSelect () {
    var formsetId = document.getElementById("formset");
    var formsetTrTag = formsetId.getElementsByTagName("tr");
    var idImage = [];
    var idMain = [];
    var idDelete = [];
    for (var i = 0; i < formsetTrTag.length; i++) {
        for (var j = 0; j < 5; j++) {
            if (formsetTrTag[i].querySelector("#id_images-" + j + "-image")) {
                idImage.push(formsetTrTag[i]);
            } else if (formsetTrTag[i].querySelector("#id_images-" + j + "-main")) {
                idMain.push(formsetTrTag[i]);
            } else if (formsetTrTag[i].querySelector("#id_images-" + j + "-DELETE")) {
                idDelete.push(formsetTrTag[i]);
            };
        };
    };
    for (var i = 0; i < 5; i++) {
        if ( !(idImage[i].querySelector("a[href]")) ) {
            idMain[i].setAttribute("style", "display: none"); 
            idDelete[i].setAttribute("style", "display: none");
        }
    };
};

formsetDeleteSelect ();



/* Делаем поля "Сделать основным изображением" типа "checkbox"
похожими по функционалу на тип "radio", когда выделение одного поля
снимает флажок с другого. Выделить можно только одно поле.
*/
function cbImgSelect(checkBoxImgs) {
    for (var i = 0; i < checkBoxImgs.length; i++) {
        checkBoxImgs[i].addEventListener('change', function(event) {
            if (event.target.checked) {
                for (var j = 0; j < checkBoxImgs.length; j++) {
                    if (checkBoxImgs[j] != this) {
                        checkBoxImgs[j].checked = false;
                    }
                }
            }
        })
    }
};

checkBoxImgs = document.querySelectorAll(
    '#id_images-0-main, #id_images-1-main, #id_images-2-main, #id_images-3-main, #id_images-4-main'
);

cbImgSelect(checkBoxImgs);

</script>
{% endblock %}






