{% extends "base.html" %}
{% load static %}

{% block title %}
  Создать объявление
{% endblock %}

{% block content %}
  <div class="note-detail">
   {% if request.user.is_authenticated %}
     <h2>Создать новое или обновить существующее объявление </h2>
     <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <th>
                    <span>Выберите категорию:&nbsp;&nbsp;</span>
                    <select name="selectCategory" id="selectCategory">
                        <option selected value="?">Выберите категрию</option>
                        {% for category in categorys %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    <span>Выберите подкатегорию:&nbsp;&nbsp;</span>
                    <select name="selectSubcategory" id="selectSubcategory"></select>
                </th>
            </tr>
            {{ form_note }}
            <tr><th></th></tr>
            {{ formset.management_form }}
            {% for form in formset %}
                {{ form }}
            {% endfor %}          
        </table>
        <p><input type="submit" value="Сохранить"></p>
    </form>
   {% endif %}
  </div>

<script>
var subcategorys = {{ subcategorys_js|safe }};

var makeRelation = (function () {
    function change(slave, data){
      var x, dataArray, option;
      slave.innerHTML = "";
      if (!(this.value in data)){
        return false;
      }

      dataArray = data[this.value];
      for (var key in dataArray) {
        option = document.createElement("option");
        option.value = key;
        option.innerHTML = dataArray[key];
        slave.appendChild(option);
      }}
    return function (master, slave, data) {
      master.onchange = function () {
        change.call(this, slave, data);}
      master.onchange();}
})();

makeRelation(document.getElementById("selectCategory"), document.getElementById("selectSubcategory"), subcategorys);



const cbimg0 = document.getElementById("id_images-0-main");
const cbimg1 = document.getElementById("id_images-1-main");
const cbimg2 = document.getElementById("id_images-2-main");
const cbimg3 = document.getElementById("id_images-3-main");
const cbimg4 = document.getElementById("id_images-4-main");
  
cbimg0.addEventListener('change', (event) => {
  if (event.target.checked) {
    cbimg1.checked = false;
    cbimg2.checked = false;
    cbimg3.checked = false;
    cbimg4.checked = false;
  }; 
});
  
cbimg1.addEventListener('change', (event) => {
  if (event.target.checked) {
    cbimg0.checked = false;
    cbimg2.checked = false;
    cbimg3.checked = false;
    cbimg4.checked = false;
  }; 
});

cbimg2.addEventListener('change', (event) => {
  if (event.target.checked) {
    cbimg0.checked = false;
    cbimg1.checked = false;
    cbimg3.checked = false;
    cbimg4.checked = false;
  }; 
});

cbimg3.addEventListener('change', (event) => {
  if (event.target.checked) {
    cbimg0.checked = false;
    cbimg1.checked = false;
    cbimg2.checked = false;
    cbimg4.checked = false;
  }; 
});

cbimg4.addEventListener('change', (event) => {
  if (event.target.checked) {
    cbimg0.checked = false;
    cbimg1.checked = false;
    cbimg2.checked = false;
    cbimg3.checked = false;
  }; 
});


</script>
{% endblock %}
