{% extends "base.html" %}

{% block title %}Сбросить Ваш пароль{% endblock %}

{% block content %}
  <h1>Сбросить Ваш пароль</h1>
  {% if validlink %}
    <p>Пожалуйста, введите Ваш новый пароль дважды:</p>
    <form action="." method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Изменить мой пароль" /></p>
    </form>
  {% else %}
    <p>Ссылка для сброса пароля была недействительной, возможно, потому что она 
     уже была использована. Пожалуйста, запросите новый сброса пароля.</p>
  {% endif %}
{% endblock %}
