@import url(http://fonts.googleapis.com/css?family=Ubuntu);

h1, h2, h3, h4, h5 , h6 { 
    font-family: 'Ubuntu', sans-serif; font-weight:normal;
}

a {
    text-decoration:none;
    color:#5993bb;
}

a:hover {
    color:#77b6e2;
}

a.button, input[type="submit"] {
    color:#fff;
    background:#5993bb;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

a.button.light {
    color:#666;
    background:#ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse; 
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0; 
   padding:0;
}

#formset tbody tr:nth-child(-n + 3) {
    background:#efefef;
    border: 1px solid black;
}

#formset tbody tr:nth-child(n + 4):nth-child(-n + 6) {
    background:white;
    border: 1px solid black;
}

#formset tbody tr:nth-child(n + 7):nth-child(-n + 9) {
    background:#efefef;
    border: 1px solid black;
}

#formset tbody tr:nth-child(n + 10):nth-child(-n + 12) {
    background:white;
    border: 1px solid black;
}

#formset tbody tr:nth-child(n + 13):nth-child(-n + 15) {
    background:#efefef;
    border: 1px solid black;
}

.note-list .item {
    padding:30px 10px 10px 10px;
    text-align:center;
    line-height:1.2;
    border: 1px solid #efefef;
    margin: auto;
}

.note-list .item img {
    width:100%;
    margin-bottom:8px;
}

.note-detail {
    text-align:left;
    padding:10px 20px 20px 0;
    margin-left: 50px;
}

.note-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.note-detail img {
    padding:0 20px 20px 0;
}


.note-detail h1 {
    margin-bottom:0;
}

.note-detail h2 {
    margin-top:10px;
}

.neg {
    color:#dc1616;
}

/*gird*/

body {
    display: grid;
    grid-template-areas:
    "header header"
    "messages messages"
    "content ads"
    "footer footer";
    grid-template-rows: 60px 50px 1fr 60px;
    grid-template-columns: 1fr 15%;
    height: 100vh;
    margin: 0;
    font-family:helvetica, sans-serif;
}

/*header*/
#header {
    grid-area: header;
    display: grid;
    grid-auto-flow: column;
}

#header {
    padding:10px 50px;
    font-size:18px;
    background:#5993bb;
    color:#fff;
    overflow:auto;
}

#header .logo {
    font-family: 'Muli', sans-serif;
    color:#f3f7cc;
    font-size:20px;
    margin-right:10%;
    text-align: left;
}

#header ul.menu {
    list-style:none;
    margin:0;
    padding:0;
}

#header ul.menu li {
    float:left;
    padding:4px 10px;
}

#header ul.menu li.selected a, #header ul.menu li.selected a:hover {
    color:#e9e7b0;
    font-weight:bold;
}

#header a {
    color:#f3f7cc;
}
#header a:hover {
    color:#fff;
}

#header .user {
    float:right;
    padding-top:4px;
    text-align: right;
}

/*messages*/
ul.messages {
    grid-area: messages;
}

ul.messages {
    margin:0px 30px;
    padding:0;
    list-style-type: none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin:0;
    padding:14px 20px;
    list-style:none;
    color:#fff;
}

ul.messages li.success { background:#81ce81; }
ul.messages li.success a { color:#0ac33e; }

ul.messages li.error { background:#a30029; color:#e9828e; }
ul.messages li.error a { color:#e9828e; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.close {
    margin:0;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}

/*content*/
#content {
    grid-area: content;
    margin: 20px;
}

/*bar-right*/
#bar-right {
    grid-area: ads;
    display: grid;
    grid-auto-flow: row;
    padding:20px 10px 0px 0px;
    background:#efefef;
}

/*footer*/
#footer {  
    grid-area: footer;
    display: grid;
    grid-auto-flow: column;
    padding:10px 50px;
    font-size:18px;
    background:#5993bb;
    color:#fff;
}

#footer .data {
    font-family: 'Muli', sans-serif;
    color:#f3f7cc;
    font-size:20px;
    margin-right:10%;
}

#footer a {
    color:#f3f7cc;
}

#footer a:hover {
    color:#fff;
}

/*content-list*/
#content-list {
    display: grid;
    grid-template-columns: 25% 1fr;        
    padding: 0 10px;
}

/*content-list > sidebar*/
#sidebar {
    padding:20px 10px 0 0;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 10px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#5993bb;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

/*content-list > main*/
#main {
    display: grid;
    grid-template-areas:
        "main-title"
        "notes"
        "pagination";
    grid-template-rows: 60px 1fr 120px;
}

#main .main-title {
    grid-area: main-title;
    text-align: center;
}

#main .notes {
    grid-area: notes;
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 250px;
}

/* pagination */
.pagination {
    grid-area: pagination;
    margin:40px 0px; 
    font-weight:bold;
    text-align: center; 
}

/*content-detail*/
#content-detail {
    display: grid;
    grid-auto-rows: auto;
    text-align: center;
}

#content-detail #largeImg {
    width: 65%;
}

#content-detail #largeNoImg {
    width: 65%;
}

#content-detail #thumbs {
    margin-top: 20px;
}

/*search*/
#search {
    display: grid;
    grid-auto-rows: auto;
}

#search form p label{
    font-size:20px;
}

#search form p input{
    font-size:20px;
}


/*user-list-note*/
#user-list-note {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 10px;
}

/*dashboard*/
#dashboard {
    display: grid;
    grid-auto-rows: auto;
}

/*account-edit*/
#account-edit {
    display: grid;
    grid-auto-rows: auto;
}



/*media*/
@media all and (max-width: 575px) {
    body {
    grid-template-areas:
        "header"
        "messages"
        "content"
        "ads"
        "footer";
    grid-template-rows: 100px 80px 1fr 150px 70px;
    grid-template-columns: 1fr;
    }
}


/* tooltip - всплывающая подсказка при наведении на элемент меню */
.tooltip {
      position: fixed;
      z-index: 100;
      /* подсказка должна перекрывать другие элементы */

      padding: 10px 20px;
      /* красивости... */

      border: 1px solid #b3c9ce;
      border-radius: 4px;
      text-align: center;
      font: italic 14px/1.3 sans-serif;
      color: #333;
      background: #fff;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}


/* подсвечиваем поле ввода при фокусировке на нем */
input:focus:not([type="submit"]) { 
  background: #FFE1B1;
}

