{% extends "base.html" %}

{% block title %}Моя страничка{% endblock %}

{% block content %}
  <h1>Моя страница</h1>
  <p>Добро пожаловать на вашу страничку. Вы можете <a href="{% url "edit" %}">редектировать ваш профиль</a> 
или <a href="{% url "password_change" %}">изменить ваш пароль</a>.</p>

  <div>
    <h2><a href="{% url "classifieds:create_note" %}">Создать новое объявление</a></h2>
    <h2>Мои объявления</h2>
    {% for note in notes %}
        <p>{{ note.created }} | 
            {{ note.subcategory.category.rubric }} &rarr; {{ note.subcategory.category }} &rarr; {{ note.subcategory }} | 
            <a href="{{ note.get_absolute_url }}">{{ note }}</a>&nbsp;&nbsp;
            <a href="{% url 'classifieds:update_note' id=note.id %}">Редактировать</a>&nbsp;&nbsp;
            <a href="{% url 'classifieds:delete_note' id=note.id %}">Удалить</a>
        </p>
    {% endfor %}
  </div>
{% endblock %}
